<div class="row mt-5 text-center">
 
 <div class="col-md-10 offset-1">

  <a href="/" class="btn btn-success">Orqaga</a>
  <form action="/api/logout" method="POST">
    <button type="submit" class="btn btn-outline-warning">
        Logout
    </button>
</form>



  <table class="table table-hover table-bordered">
   <thead class="thead-dark">
     <tr>
       <th scope="col">Name</th>
       <th scope="col">Sana</th>
       <th scope="col">Email</th>
       <th scope="col">Sozlama</th>
     </tr>
   </thead>
   <tbody>
    <% for( const item of user) {%> 
     <tr>
       <td><%= item.name %> </td>
       <td><%= item.email %></td>
       <td> <%= moment(item.date).format("DD/MM/YYYY") %></td>
       <td>

        <a href="<%=`/api/${item._id}`%>" class="btn btn-primary">Edit</a>

        <form method="POST" action="<%=`/api/${item._id}?_method=DELETE`%>">
         <button type="submit" class="btn btn-danger">Delete</button>
        </form>


       </td>
     </tr>
    <% } %> 
   </tbody>
  </table>
 </div>
</div>